<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Exemplo de requisição HTTP</title>
  </head>
  <body >
    <h1>Lista de Esportes</h1>
    <ul id="esportes"></ul>
    <button onclick=" listarEsportes() ">Listar esportes </button>
    <script src="../public//javascript/taskcontrol.js"></script>
    <form> <button type="submit">Enviar</button> </form>
    {{! <script src="javascripts/taskcontrol.js" type="module"></script> }}
  </body>
</html>
