<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Exemplo de requisição HTTP</title>
  </head>
  <body onload="listarEsportes()">
    <h1>Lista de Esportes</h1>
    <ul id="esportes"></ul>
    <script>
  
     
    </script>
  </body>
</html>
