<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Exemplo de requisição HTTP</title>
  </head>
  <body>
    <h1>Lista de Esportes</h1>
    <button onclick="listarEsportes()">Listar</button>
    <ul id="esportes"></ul>
    <script>
    // fetch('http://localhost:5555/sports').then(j => j.json()).then(k => console.log(k[1].nome)) 
      function listarEsportes() {
        fetch('http://localhost:5555/sports')
          .then(response => response.json())
          .then(data => {
            
                const listaEsportes = document.getElementById('esportes');
                listaEsportes.innerHTML = '';
                data.forEach(esporte => {
                    const li = document.createElement('li');
                    li.appendChild(document.createTextNode(esporte.nome));
                    li.appendChild(document.createTextNode(esporte.estilo));
                    li.appendChild(document.createTextNode(esporte.coletivo));
                    listaEsportes.appendChild(li);
                });
          })
          .catch(error => console.error(error));
      }
    </script>
  </body>
</html>
