<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Exemplo de requisição HTTP</title>
  </head>
  <body  onload="listarEsportes()">
    <h1>Lista de Esportes</h1>
    <ul id="esportes"></ul>
    <button onclick=" listarEsportes() ">Listar esportes </button>
    <script src="../public//javascript/taskcontrol.js"></script>
    <form id='formulario'> <button type="submit">Enviar</button> </form>
    {{! <script src="javascripts/taskcontrol.js" type="module"></script> }}
    <script>
        let  listarEsportes = () => {
        fetch('http://localhost:5555/sports')
        .then(response => response.json())
        .then(data => {
            
                const listaEsportes = document.getElementById('esportes');
                listaEsportes.innerHTML = '';
                data.forEach(esporte => {
                    const li = document.createElement('li');
                    li.appendChild(document.createTextNode(esporte.nome));
                    // li.appendChild(document.createTextNode(esporte.estilo));
                    // li.appendChild(document.createTextNode(esporte.coletivo));
                    listaEsportes.appendChild(li);
                });
        })
        .catch(error => console.error(error));
        }

        window.addEventListener("load", async () => {
            listarEsportes()

            const form = getElementById('formulario')

            form.addEventListener('submit', async function(e)  { 
                console.log('clicouuu taskcontrol.js')
                e.preventDefault();
                listarEsportes();
            })

        })
    </script>
  </body>
</html>
