<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/stylePrincipal.css">
    <title> Redes Sociais </title>
</head>
<body>
    <h1>Midia sociais </h1>
    <a href='https://www.linkedin.com/in/gustavo-alexandre-dias-30889b219/' target="_blank"> Linkedin' </a> <br>
    <a href="https://github.com/gustavo-eng?tab=overview&from=2023-02-01&to=2023-02-21" target="_blank">               
        <span> Projetos github </span>
    </a>
    <h3>Foto </h3>
    <p> Projeto feito com react. Este projeto consome uma API de filmes e renderiza de forma dinamica </p> 
    <img src="https://user-images.githubusercontent.com/75026003/210397591-77701bdd-a0a8-4f2b-9493-0bcd5aa927ae.png" style="width: 95px; height: 115px" alt="movie image " srcset="" >

    <h3> Paginas </h3>
    <a href='/'> Vai para a rota '/' </a> <br>
    <a href='/midia'> Vai para a rota '/midia' </a> <br>
    <a href='/disciplinas'> Vai para a rota '/disciplinas' </a> <br>

</body>
</html>