<style>
    h1 {
    color: yellow;
    }

    a {
        background-color: blue;
    }
</style>

<link rel="stylesheet" href="../public/stylesheets/stylePrincipal.css">
<h1>Voce esta na pagina PRINCIPAL </h1>
<h2> Ola </h2>
<a href='/cv'> Vai para a rota /cv </a>
