<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/stylePrincipal.css">
    <title>Document</title>

        
    <style>

    </style>


</head>
<body>
    <h1>Pagina Principal  </h1>
    <h2>  </h2>
    <a href='/'> Vai para a rota '/' </a> <br>
    <a href='/cv'> Vai para a rota '/cv' CURRICULO PROFISSIONAL  </a> <br>
    <a href='/midia'> Vai para a rota '/midia' </a> <br>
    <a href='/disciplinas'> Vai para a rota '/disciplinas' </a> <br>

</body>
</html>






