<link rel="stylesheet" href="styleCv.css">
<h1>Voce esta na pagina /cv </h1>
<a href='/'> Vai para a rota '/' </a> <br>
<a href='/midia'> Vai para a rota '/midia' </a> <br>
<a href='/disciplinas'> Vai para a rota '/disciplinas' </a> 
