<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/stylePrincipal.css">
    <title>Document</title>

        
    <style>
        {{! h1 {
        color: yellow;
        }

        a {
            background-color: blue;
        } }}
    </style>


</head>
<body>
    <h1>Voce esta na pagina PRINCIPAL </h1>
    <h2> Ola </h2>
    <a href='/cv'> Vai para a rota /cv </a>
</body>
</html>






